test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

# Use bin/rails credentials:edit to set the AWS secrets (as aws:access_key_id|secret_access_key)
amazon:
   service: S3
   access_key_id: AKIA3FUTKD6P7ZMXWZOU
   secret_access_key: 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
   region: us-east-1
   bucket: cloudsys-group11
   #bucket: cloudsys-group11-<%= Rails.env %>

exoscale:
  service: S3
  endpoint: https://sos-ch-gva-2.exo.io
  region: ch-gva-2
  access_key_id: EXO2b25fe435a990a0ec6df8fbd
  secret_access_key: sOjkB-vahx9mZXfo_vOkfi1LO8hA1akeu4hN0MyEYQc
  bucket: pw1-s3

# Remember not to checkin your GCS keyfile to a repository
# google:
#   service: GCS
#   project: your_project
#   credentials: <%= Rails.root.join("path/to/gcs.keyfile") %>
#   bucket: your_own_bucket-<%= Rails.env %>

# Use bin/rails credentials:edit to set the Azure Storage secret (as azure_storage:storage_access_key)
microsoft:
  service: AzureStorage
  storage_account_name: azures3cloud
  storage_access_key: isWIUBR/Q0hLOnMH/NWbfTVoTIMvunC1+dtm/l0fcY5oGgpyH84WvJd5GodKQcugttKZVtLGBEuF+AStRgxAkA==
  container: cloud

# mirror:
#   service: Mirror
#   primary: local
#   mirrors: [ amazon, google, microsoft ]
